<h1>Adicionar Atividade</h1>

<form [formGroup]="atividadeForm" (submit)="handleForm()" #formDit>
  <div>
    <label>Nome:</label>
    <input
      id="name"
      formControlName="name"
      placeholder="Nome da atividade"
      required
    />
  </div>

  <div>
    <label>Prioridade:</label>
    <select id="prioridade" formControlName="prioridade">
      <option value="0">Não definida</option>
      <option value="1">Baixa</option>
      <option value="2">Média</option>
      <option value="3">Alta</option>
    </select>
  </div>

  <div>
    <button type="submit">Cadastrar</button>
    <button [routerLink]="['/']">Voltar</button>
  </div>
</form>
